<!-- for third party app demo only -->
<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // TODO: Set the api host name
      const apiHost = 'https://api-dot-terega-idam-production.appspot.com/';
      const apiPrefix = `${apiHost}/api/v1`;

      const categoriesApi = `${apiPrefix}/categories`;
      const filesApi = `${apiPrefix}/files`;
      const labelsApi = `${apiPrefix}/labels`;
      const searchApi = `${apiPrefix}/search`;
    </script>
    <%- include styles.ejs %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper  blue darken-3">
        <div class="container">
          <a href="#" class="brand">Terega IDAM Public API Test</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="#!" onClick="showSearch();"><i class="material-icons">search</i></a>
            </li>
            <li id="search-bar" class="hidden">
              <i class="material-icons">search</i>
              <input id="search" class="field-search" type="search" onKeyup="searchFiles(event);" required>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="searchResults">
      <div class="row">
        <div id="result-cards" class="col s12 m4 l3 hidden">
          <div class="nav-wrapper" st>
            <ul>
              <li><a href="javascript:void(0);" onClick="hideSearch();"><i class="material-icons left">chevron_left</i>Back</a></li>
            </ul>
          </div>
          <div id="searchList"></div>
        </div>
      </div>
    </div>
    <div id="mainContainer" class="container">
      <h4>Step 1: Set API token</h4>
      <div class="row">
        <div class="input-field col s6">
          <input id="apiKey" type="text" onChange="onAPIKeyChange();" />
          <label for="apiKey">Enter your API key here</label>
        </div>
      </div>
      <h4>Step 2: Try the APIs</h4>
      <ul class="collection">
        <li class="collection-item"><%- include labels.ejs %></li>
        <li class="collection-item"><%- include search.ejs %></li>
        <li class="collection-item"><%- include files.ejs %></li>
      </ul>
    </div>
    <script>
      // Elements
      const mainContainer = document.getElementById('mainContainer');

      // Globals
      const noImageUrl = 'https://cdn11.bigcommerce.com/s-6k7uumqvet/stencil/6962af60-7956-0136-86e8-0f5989f68d97/e/0252a7f0-3aeb-0136-1dc5-0242ac110007/img/no-image.svg';

      function onAPIKeyChange() {
        updateFileUploadLabels();
      }
    </script>
  </body>
</html>
